<div class="row  mx-0 p-5">
    <div class="col-12 p-0 mb-3 header">
        <h1>Credit Cards 🔥</h1>
    </div>
    <div class="card-dark m-0 col-md-5 p-4">
        <form id="form-register"
            class="row m-0"
            [formGroup]="form" 
            (ngSubmit)="addCard()">
            <h4 class="mb-3 col-12 p-0"><span class="text-success">{{ action }}</span> credit card</h4>
            <div class="row m-0 p-0">
                <div class="input-group p-0" data-bs-theme="dark">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-user fz-12"></i></span>
                    <input type="text"
                        class="form-control"
                        placeholder="Owner"
                        formControlName="owner">
                </div>
                <small *ngIf="this.form.get('owner')?.invalid && this.form.get('owner')?.touched" class="col-12 p-0 m-0 redc">Informacion invalida</small>
                <div class="input-group mt-3 p-0" data-bs-theme="dark">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-credit-card fz-12"></i></span>
                    <input type="text"
                        class="form-control"
                        placeholder="Card number"
                        formControlName="numCard" maxlength="16">
                </div>
                <small *ngIf="this.form.get('numCard')?.invalid && this.form.get('numCard')?.touched" class="col-12 p-0 m-0 redc">Informacion invalida</small>
                <div class="col-md-8 pl-1">
                    <div class="input-group mt-3 p-0 " data-bs-theme="dark">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar fz-12"></i></span>
                        <input type="text"
                            class="form-control"
                            placeholder="MM/YY"
                            formControlName="expirationDate">
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="input-group mt-3 p-0" data-bs-theme="dark">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-key fz-12"></i></span>
                        <input type="password"
                            class="form-control"
                            placeholder="CVV"
                            formControlName="cvv" maxlength="3">
                    </div>
                </div>
                <small *ngIf="this.form.get('expirationDate')?.invalid && this.form.get('expirationDate')?.touched" class="col-8 p-0 m-0 redc">Informacion invalida</small>
                <small *ngIf="this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched" class="col-4 p-0 m-0 redc">Informacion invalida</small>
            </div>
            <input class="botons mt-3"
                type="submit"
                value="{{ action }} Card"
                [disabled]="this.form.invalid">
        </form>
    </div>
    <div class="col-12 col-md-7 p-0 py-4 card-dark">
        <h4 class="mb-3 col-12 p-0">Credit card list 👾</h4>
        <table class="table table-dark table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col">Owner</th>
                    <th scope="col">Card Number</th>
                    <th scope="col">Expiration date</th>
                    <th scope="col">CVV</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let card of listCards">
                    <th>{{ card.owner }}</th>
                    <td>{{ card.numCard }}</td>
                    <td>{{ card.expirationDate }}</td>
                    <td>{{ card.cvv }}</td>
                    <td>
                        <i class="fa-regular fa-pen-to-square fz-14 m-2 bluec" (click)="editCard(card)"></i>
                        <i class="fa-solid fa-trash m-2 fz-14 redc" (click)="deleteCard(card.id)"></i>
                    </td>
                </tr>
              </tbody>
        </table>
    </div>
</div>