<div class="row m-0 p-3">
    <div class="col-12">
        Hola mundo
    </div>
    <form id="form-register" class="form-register col-12 col-md-5 p-4 d-flex flex-column">
        <h4 class="mb-3">Add new credit card</h4>
        <div class="input-group mb-3" data-bs-theme="dark">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Owner">
        </div>
        <div class="input-group mb-3" data-bs-theme="dark">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Card number">
        </div>
        <div class="col-9 input-group mb-3" data-bs-theme="dark">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Card number">
        </div>
        <div class="col-3 input-group mb-3" data-bs-theme="dark">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Card number">
        </div>
        <input class="botons" type="submit" value="Register">
    </form>
</div>