@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}
    
body {
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header {
    font-size: 1rem;
    color: #fff;
}

.card-dark {
    width: 100%;
    background: #1f1f1f;
    font-family: 'calibri';
    color: white;
    /* box-shadow: 7px 13px 37px #00000080; */
}
    
.card-dark h4 {
    font-size: 22px;
}

.card-dark p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}   

.card-dark a {
    color: white;
    text-decoration: none;
}

.card-dark a:hover {
    color: white;
    text-decoration: underline;
}

.card-dark .botons {
    width: 100%;
    background: #e61639;
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

input,
input::placeholder {
    font-family: 'Source Code Pro', monospace;
}

input:focus {
    outline: none;
}

.pl-1 {
    padding: 0 10px 0 0 !important;
}

.fz-12 {
    font-size: 12px !important;
}

.fz-14 {
    font-size: 14px !important;
}

.redc {
    color: #e61639;
}

.bluec {
    color: #6366ff;
}